<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>list</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<div th:replace="item/nav :: navbar"></div>
<div class="detail">
    <h4>상세페이지</h4>
    <img src="https://placehold.co/300">
    <h4 th:text="${item.title}">금도금 바지</h4>
    <p th:text="${item.price+'원'}">7억</p>
    <p th:text="${item.description}">금도금 바지입니다.</p>
</div>
</body>
</html>