<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Item Detail</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css?h=97380e22c8933e9aa79cbc2390b9f15a">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdn.reflowhq.com/v2/toolkit.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.min.css?h=e289d983b861082bf111d3a4155d8a03">
</head>
<body id="page-top">
<div id="wrapper">
    <div th:replace="item/nav :: navbar"></div>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div th:replace="item/nav_top :: nav_top"></div>
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Item Detail</h3>
                <div data-reflow-type="product">
                    <div class="reflow-product">
                        <div class="ref-media">
                            <div class="ref-preview"><img class="ref-image active"
                                                          src="https://cdn.bootstrapstudio.io/products/product-30_md.jpg"
                                                          data-reflow-preview-type="image"/></div>
                            <div class="ref-promo-badge">SALE</div>
                        </div>
                        <div class="ref-product-data">
                            <h2 class="ref-name" th:text="${item.title}">Piggy Bank</h2>
                            <div class="ref-categories"><span class="ref-category">Toys</span></div>
                            <strong class="ref-price ref-on-sale" th:text="${item.price}">$42.23</strong>
                            <span data-reflow-type="add-to-cart" data-reflow-shoppingcart-url data-reflow-addtocart-text
                                  data-reflow-product="717978921" data-reflow-variant="199976733_s">
                                   <div class="reflow-add-to-cart ref-product-controls">
                                       <div class="ref-variant"><label><span>Size</span>
                                           <select class="ref-form-control ref-field-variants" name="variant-state"
                                                   required>
                                                <option value="199976733_s">S</option>
                                                <option value="199976733_m">M</option>
                                                <option value="199976733_l">L</option>
                                           </select>
                                       </label></div><span data-reflow-variant="199976733_s"
                                                           data-reflow-product="717978921" data-reflow-max-qty="999"
                                                           data-reflow-quantity="1">
                                                        <div class="ref-quantity-widget">
                                                <div class="ref-decrease"><span></span></div><input type="text"
                                                                                                    value="1"/>
                                                <div class="ref-increase"><span></span></div>
                                                        </div>
                                       </span><a class="ref-button" href="#">Add to Cart</a>
                                </div>
                            </span>
                            <div class="ref-description" id="description" rows="4"
                                 th:text="${item.description}" name="description">상품 설명
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Brand 2024</span></div>
            </div>
        </footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.min.js?h=bdf36300aae20ed8ebca7e88738d5267"></script>
</body>
</html>
