<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>list</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div th:replace="item/nav :: navbar"></div>
<div id="app">
    <h1>상품</h1>
    <div th:each="item : ${items}">
        <section class="item-section">
            <a th:href="@{/Item/{id}(id=${item.id})}" class="item-link">
                <h2 style="text-align: center;" th:text="${item.title}"></h2>
                <p style="text-align: center;" th:text="${#numbers.formatDecimal(item.price, 0, 'COMMA', 0, 'POINT')+'원'}"></p>
            </a>
            <div class="button-container" sec:authorize="hasRole('ROLE_ADMIN')">
                <button class="editItem" th:data-id="${item.id}">수정</button>
                <button class="deleteItem" th:data-id="${item.id}">삭제</button>
            </div>
        </section>
    </div>
    <div class="register-button-container" sec:authorize="hasRole('ROLE_ADMIN')">
        <button onclick="location.href='/write'">상품 등록</button>
    </div>
</div>

<script>
    $('.editItem, .deleteItem').click(function (event) {
        event.stopPropagation(); // Stop the event from bubbling up to parent elements

        var id = $(this).data('id');
        console.log(id);

        if ($(this).hasClass('editItem')) {
            editItem(id);
        } else if ($(this).hasClass('deleteItem')) {
            deleteItem(id);
        }
    });

    function editItem(id) {
        location.href = '/update/' + id;
    }

    function deleteItem(id) {
        $.ajax({
            type: 'POST',
            url: '/deleteItem/' + id,
            data: {_method: 'delete'},
            success: function (response) {
                alert('삭제 완료');
                // Find the section containing the item and remove it from the DOM
                $('section').find('[data-id="' + id + '"]').parent().parent().remove();
            },
            fail: function (error) {
                alert('삭제 실패');
            }
        });
    }
</script>

</body>
</html>