<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>list</title>
    <link rel="stylesheet" href="/main.css">
    <style>
        section {
            border: 1px solid #000;
            margin-bottom: 10px;
            padding: 10px;
        }
        .button-container {
            display: flex;
            justify-content: flex-end;
        }
        .button-container button {
            margin-left: 10px;
        }
        .button-container button:active {
            transform: scale(0.95);
        }
    </style>
</head>
<body>
<div th:replace="item/nav :: navbar"></div>
<div id="app">
    <h1>상품</h1>
    <div th:each="item : ${items}">
        <section>
            <h2 style="text-align: center;"><a th:href="@{/Item/{id}(id=${item.id})}" th:text="${item.title}"></a></h2>
            <p style="text-align: center;" th:text="${item.price+'원'}"></p>
            <div class="button-container">
                <button th:onclick="'window.location.href=\'' + @{/update/{id}(id=${item.id})} + '\''">수정</button>
                <form th:action="@{/deleteItem/{id}(id=${item.id})}" method="post">
                    <input type="hidden" name="_method" value="delete" />
                    <button type="submit">삭제</button>
                </form>
            </div>
        </section>
    </div>
    <button class="button-container" onclick="location.href='/write'">상품 등록</button>
</div>
</body>
</html>