@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
.nav {
    display: flex;
    padding: 10px;
    align-items: center;
    font-family : 'Montserrat';
}
.nav a {
    margin-right: 10px;
    text-decoration : none;
    font-weight : 400;
    letter-spacing : -0.5px;
}
.nav .logo {
    font-weight : 800;
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

.detail .item-image img {
    width: 100%;
    height: auto;
}

.detail .item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.detail .item-info h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.detail .item-info .item-price {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.detail .item-info .item-description {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
}

.detail .seller-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.detail .seller-info h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.detail .seller-info .seller-name {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
}