form {
    margin-top: 50px; /* Add a top margin to the form */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* align items to the top */
    align-items: center;
    height: 90vh;
    width: 70%;
    box-sizing: border-box;
    padding: 20px;
    margin: auto;
}

input {
    width: 80%; /* set the input width to 80% of the form width */
    height: 40px; /* set the input height */
    padding: 5px; /* add some padding */
    font-size: 16px; /* increase the font size */
}
